.jumbotron {
    text-align: center;
    background-color: aqua;
    font-weight: bolder;

    
}

h1 {
    color: purple;
    font-weight: bolder;
}
#question {
    background-color: rosybrown;
    text-align: center;
    height: 300px;
    width: 50%;
    padding-top: auto;
}
.col-md {
    text-align: center;
}