.jumbotron {
    text-align: center;
    font-weight: bolder;
    background-image: url("JavaScript2.png");
    background-size: 55%;
    
}

h1 {
    color: purple;
    font-weight: bolder;
    text-align: center;
}
#quiz-area {
    background-color: rgb(243, 231, 124);
    height: 200px;
    padding-top: 20px;
    border-style: solid;
 
}
.col-md {
    text-align: center;
}
p{
    font-weight: 700;
}
#scoreContainer {
    background-color: rgb(243, 231, 124);
    height: 150px;
   
    border-style: solid;
    
}
.button {
    background-color: #555555; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .scor {
      font-size: xx-large;
  }

  .lead {
     font-size: xx-large;
  }