.jumbotron {
    text-align: center;
    font-weight: bolder;
    /* height: 25%; */
    background-image: url("JavaScript2.png");
    background-size: 55%;
    /* height: 100%; */

    
}

h1 {
    color: purple;
    font-weight: bolder;
    text-align: center;
}
#question {
    background-color: rosybrown;
    height: 250px;
    padding-bottom: 20px;
 
}
.col-md {
    text-align: center;
}